@layer base {
  html {
    font-family: var(--font-pretendard), sans-serif;
  }
}

body {
  min-width: 375px;
  width: 100%;
  max-width: 500px;
  margin: auto;
  background-color: var(--color-gray-black);
  color: var(--color-gray-white);
  min-height: 100vh;

  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
  border-radius: 12px;
}
input,
textarea {
  font-size: 16px; /* iOS 확대 방지 */
}

.swiper-wrapper {
  display: flex;
  align-items: center;
}

/* 자동입력 시 브라우저 css 배경색 제거 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;
  transition: background-color 5000s ease-in-out 0s !important;
  background-color: transparent !important;
  color: inherit !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #ffffff;
}

input {
  caret-color: white; 
}
/* 스크롤바 스타일 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.6);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 0.8);
}
