@layer base {
  html {
    font-family: var(--font-pretendard), sans-serif;
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0 auto;
  background-color: var(--color-gray-black);
  color: var(--color-gray-white);
  min-height: 100dvh;
  max-width: 500px;
}

:root {
  --app-max: 500px;
  --safe-top: env(safe-area-inset-top);
  --safe-bottom: env(safe-area-inset-bottom);
  --safe-left: env(safe-area-inset-left);
  --safe-right: env(safe-area-inset-right);
  --side-gutter: max(
    var(--safe-left),
    calc((100vw - min(var(--app-max), 100vw)) / 2)
  );
}

.app-shell {
  width: min(100vw, var(--app-max));
  min-width: 375px;
  margin: 0 auto;
  max-width: 500px;
}

.fab {
  position: fixed;
  right: calc(var(--side-gutter) + 16px);
  bottom: calc(var(--safe-bottom) + 16px);
}

input,
textarea {
  font-size: 16px; /* iOS 확대 방지 */
}

.swiper-wrapper {
  display: flex;
  align-items: center;
}

/* 자동입력 시 브라우저 css 배경색 제거 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;
  transition: background-color 5000s ease-in-out 0s !important;
  background-color: transparent !important;
  color: inherit !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #ffffff;
}

input {
  caret-color: white;
}
/* 스크롤바 스타일 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.6);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 0.8);
}

.app-header {
  padding-top: var(--safe-top);
  padding-left: var(--safe-left);
  padding-right: var(--safe-right);
  background: #0e0e0e;
}

.app-footer {
  padding-bottom: var(--safe-bottom);
}
