@import "tailwindcss";

@layer base {
  html {
    font-family: var(--font-pretendard), sans-serif;
  }
}

@theme {
  --color-red-100: #ffdde5;
  --color-red-200: #ffc4d2;
  --color-red-300: #ff92ad;
  --color-red-400: #ff5d7e;
  --color-red-main: #ff1f44;
  --color-red-600: #e6103e;
  --color-red-700: #be1e31;

  --color-white: #fafafa;
  --color-black: #171717;

  --color-gray-100: #ececee;
  --color-gray-200: #d0d0e0;
  --color-gray-300: #a6a7ab;
  --color-gray-400: #95969b;
  --color-gray-500: #95969b;
  --color-gray-600: #6f7176;
  --color-gray-700: #57585c;
  --color-gray-800: #434448;
  --color-gray-900: #333537;
}

@theme {
  --fs-title-1: 24px;
  --fs-title-2: 22px;
  --fs-title-3: 20px;
  --fs-body-1: 18px;
  --fs-body-2: 16px;
  --fs-body-3: 14px;
  --fs-caption-1: 12px;
  --fs-caption-2: 10px;
}

@layer base {
  html {
    font-family: "Pretendard", sans-serif;
  }
}

@layer components {
  .container-padding {
    padding-left: 20px;
    padding-right: 20px;
  }

  .title-1-bold {
    font-size: var(--fs-title-1);
    font-weight: 700;
    line-height: 130%;
  }
  .title-1-semibold {
    font-size: var(--fs-title-1);
    font-weight: 600;
    line-height: 130%;
  }

  .title-2-bold {
    font-size: var(--fs-title-2);
    font-weight: 700;
    line-height: 130%;
  }
  .title-2-semibold {
    font-size: var(--fs-title-2);
    font-weight: 600;
    line-height: 130%;
  }

  .title-3-bold {
    font-size: var(--fs-title-3);
    font-weight: 700;
    line-height: 130%;
  }
  .title-3-semibold {
    font-size: var(--fs-title-3);
    font-weight: 600;
    line-height: 130%;
  }

  .body-1-semibold {
    font-size: var(--fs-body-1);
    font-weight: 600;
    line-height: 130%;
  }
  .body-1-medium {
    font-size: var(--fs-body-1);
    font-weight: 500;
    line-height: 130%;
  }

  .body-2-semibold {
    font-size: var(--fs-body-2);
    font-weight: 600;
    line-height: 130%;
  }
  .body-2-medium {
    font-size: var(--fs-body-2);
    font-weight: 500;
    line-height: 130%;
  }

  .body-3-semibold {
    font-size: var(--fs-body-3);
    font-weight: 600;
    line-height: 130%;
  }
  .body-3-medium {
    font-size: var(--fs-body-3);
    font-weight: 500;
    line-height: 130%;
  }

  .caption-1-medium {
    font-size: var(--fs-caption-1);
    font-weight: 500;
    line-height: 130%;
  }
  .caption-1-regular {
    font-size: var(--fs-caption-1);
    font-weight: 400;
    line-height: 130%;
  }

  .caption-2-medium {
    font-size: var(--fs-caption-2);
    font-weight: 500;
    line-height: 130%;
  }
  .caption-2-regular {
    font-size: var(--fs-caption-2);
    font-weight: 400;
    line-height: 130%;
  }
}
