name: Deploy Artifacts

on:
  push:
    branches: [main]

permissions:
  contents: write

concurrency:
  group: deploy-artifacts-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build outputs
        run: sh ./build.sh

      - name: Push to another repository
        uses: cpina/github-action-push-to-another-repository@main
        env:
          API_TOKEN_GITHUB: ${{ secrets.GITHUB_TOKEN }}
        with:
          source-directory: output
          destination-github-username: anhyeryeon2
          destination-repository-name: MOVIEBOOKIE_FE
          user-email: ${{ secrets.EMAIL }}
          commit-message: ${{ github.event.commits[0].message }}
          target-branch: main

      - name: Echo destination (debug)
        run: echo "$DESTINATION_CLONED_DIRECTORY"
